
mat-form-field{
    width: 100%;
}

.book_now_button{
    background-color: crimson;
    color:white;
    outline: none;
    -moz-user-focus: normal
}

/* .mat-form-field-appearance-legacy{
    background: white !important

}  */
.container-fluid{
    background-color: darkgrey !important;
    padding-bottom: 10%;
}
.event_heading{
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
    color: crimson;
    margin-top: 40px;
    margin-bottom: 40px
}